/* Variáveis */
:root {
    --body: #AD9F3C;
    --main: #5E7343;
    --header: #032820;
    --article: #80A416;
    --aside: #C5C764;
    --footer: #08652C;
}

/* Configurações do corpo */
body {
    background-color: var(--body);
}

/* Conteúdo principal (main) */
.main-site {
    background-color: var(--main);
    width: 80vh;
    height: 80vh;
    padding: 3vh;
}

/* Cabeçalho da página */
.header-main {
    display: flex;
    gap: 1rem;
}

.section-header {
    background-color: var(--header);
    width: 70%;
    height: 10vh;
}

.aside-header {
    background-color: var(--header);
    width: 30%;
    height: 10vh;
}

/* Conteúdo principal */
.article-main {
    display: flex;
    align-items: center;
}

.section-article {
    background-color: var(--article);
    width: 70%;
    height: 30vh;
    margin-top: 100px;
}

/* Barra lateral */
.aside-main{
    display: flex;
    gap: 1rem;
    width: 30%;
    height: 30vh;
    background-color: aquamarine;
}

.section-aside {
    background-color: var(--aside);
    width: 30%;
    height: 15vh;
    gap: 1rem;
}