/* Definindo as cores no :root */
:root {
    --color-header: #ff5e50;
    --color-main: #ffa727;
    --color-aside: #a02a99;
    --color-footer: #004f54;
    --color-background: #ffffff;
}

/* Reset básico */
* {
    margin: 1vh;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o body */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
}

/* Estrutura principal do site */
.main-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header-main {
    display: flex;
    justify-content: space-between;
}

.section-header {
    width: 70%;
    height: 15vh;
    background-color: var(--color-header);
}

.aside-header {
    width: 30%;
    background-color: var(--color-header);
}

/* Área principal */
.article-main {
    display: flex;
    flex: 2;
    padding: 20px;
}

.section-article {
    background-color: var(--color-main);
    flex: 2;
    margin-right: 10px;
}

/* Barra lateral */
.aside-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-aside {
    flex: 1;
    background-color: var(--color-aside);
    margin-bottom: 10px;
}

/* Rodapé */
.footer-main {
    display: flex;
    justify-content: space-between;
}

.section-footer {
    width: 40vh;
    background-color: var(--color-footer);
    height: 100px;
}
